BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
Cpp11BracedListStyle: true
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
NamespaceIndentation: None
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<windows\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^".*"'
    Priority: 3
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
Standard: c++20