#include <windows.h>

// Application icon resource
IDI_ICON1               ICON                    "icons/logo_criptogualet.ico"

// Version information
1 VERSIONINFO
FILEVERSION             1,0,0,0
PRODUCTVERSION          1,0,0,0
FILEOS                  VOS_NT_WINDOWS32
FILETYPE                VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "CriptoGualet"
            VALUE "FileDescription", "CriptoGualet - Securely own your cryptos"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "CriptoGualet"
            VALUE "LegalCopyright", "Copyright (C) 2024"
            VALUE "OriginalFilename", "CriptoGualetQt.exe"
            VALUE "ProductName", "CriptoGualet"
            VALUE "ProductVersion", "1.0.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1252
    }
}